.video-parent {
    width: 265px !important;
    height: 471px !important;
}

.video-parent video {
    object-fit: cover;
    display: flex;
    position: relative;
}

.iconCheck h3 {
    position: absolute;
    font-weight: 400;
    color: #444;
    top: -27px;
}

.iconCheck {
    display: flex;
    position: relative;
    margin: 40px 0;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: #e3e3e4;
    position: relative;
    cursor: pointer;
}

.likeTrue {
    background-color: var(--primary);
    color: var(--white);
}
