.flex-grid {
  display: flex;
}
.cell {
  flex: 1;
  cursor: pointer;
  padding:1px;
}
.cellContent {
    width: 100%;
    height: 100%;
}
@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.userName {
display:flex;
margin-top: 20px;
}

.userName h2 {
position: relative;
}

.userName img {
margin-right: 12px;
margin-bottom: 25px;
}

.video {
width: 265px;
height: 471px;
object-fit: cover;
display: flex;
margin-bottom: 50px;
margin-left: 100px;
position: relative;
}

.line {
display: flex;
width: 100%;
border-bottom: 1px solid #e3e3e4;
}

.line:last-child{
border-bottom: none;
}

.iconVideo {
margin: 150px 0px 10px 30px;
}

.iconVideo .check {
display: flex;
font-size: 24px;
margin:auto;
top: 17px;
left: 17px;
position: absolute;

// margin: 50px 50px;
}

.iconCheck  {
// text-align: center;
display: flex;

}

.iconCheck h3  {
// position: absolute;
justify-content: center;
align-items: center;
font-weight: 400;
color: red;
margin: 0 auto;
// top: 60px;
// left: 16px;
// padding-bottom: 10px;

}

.iconCheck {
display: block;
margin: 40px 0;
width: 58px;
height: 58px;
border-radius: 50%;
background-color: #e3e3e4;
position: relative;
cursor: pointer;
&:hover {
background-color: var(--primary);
color: var(--white);
margin: 40px 0;
width: 58px;
height: 58px;
border-radius: 50%;
display: block;
margin: 40px 0;
position: relative;
cursor: pointer;
}
}

